openapi: 3.1.0
info:
  title: Trip Planner GPT Actions API
  version: 0.1.0
  description: |
    OpenAPI schema for Jones's Trip Planner Custom GPT Actions read-only MVP.
    The endpoint currently enables only inspectTrip and inspectDay.
    Mutation, backup, reset, restore, delete, repair, bulk import, and full-document overwrite actions are disabled server-side.
servers:
  - url: https://us-central1-trip-planner-ab5a9.cloudfunctions.net
    description: Firebase Functions base origin for Trip Planner GPT Actions.
paths:
  /gptTripPlannerAction:
    post:
      operationId: gptTripPlannerAction
      summary: Inspect the active Tokyo May 2026 trip planner.
      description: |
        Read-only Trip Planner gateway. MVP enables inspectTrip and inspectDay only; all mutations return ACTION_NOT_ENABLED.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GptTripPlannerActionRequest'
            examples:
              inspectTrip:
                value:
                  action: inspectTrip
              inspectDay:
                value:
                  action: inspectDay
                  date: '5/2'
                  zone: afternoon
              disabledMutation:
                value:
                  action: addCandidateCard
                  card:
                    title: 中野百老匯
                    subtitle: Nakano Broadway
                    area: Nakano
                    zone: afternoon
                    duration: 2-3 hr
                    note: Server returns ACTION_NOT_ENABLED during the read-only MVP.
                    tags: [購物, 動漫, 模型]
      responses:
        '200':
          description: Action result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GptTripPlannerActionResponse'
        '401':
          description: Missing or invalid API key.
        '400':
          description: Invalid request or blocked action.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  schemas:
    Zone:
      type: string
      enum: [morning, afternoon, evening, flexible]
    LocationInput:
      type: object
      additionalProperties: false
      properties:
        placeName:
          type: string
        address:
          type: string
        lat:
          type: number
        lng:
          type: number
        source:
          type: string
          enum: [manual, geocoding, ai]
        confidence:
          type: string
          enum: [high, medium, low]
    CandidateCardInput:
      type: object
      additionalProperties: false
      required: [title]
      properties:
        title:
          type: string
        subtitle:
          type: string
        area:
          type: string
        zone:
          $ref: '#/components/schemas/Zone'
        duration:
          type: string
        note:
          type: string
        tags:
          type: array
          items:
            type: string
        location:
          $ref: '#/components/schemas/LocationInput'
    GptTripPlannerActionRequest:
      type: object
      additionalProperties: false
      required: [action]
      properties:
        action:
          type: string
          enum:
            - inspectTrip
            - inspectDay
            - inspectCard
            - addCandidateCard
            - appendCommentToCard
            - moveCardToSlot
            - renameDayLabel
            - createBackup
        planId:
          type: string
          description: Optional plan id. If omitted, the gateway reads the current Firestore activePlanId.
        date:
          type: string
          description: Date such as YYYY-MM-DD, YYYY-M-D, M/D, or M-D. Short dates are matched against the active trip's days.
        zone:
          $ref: '#/components/schemas/Zone'
        cardId:
          type: string
        card:
          $ref: '#/components/schemas/CandidateCardInput'
        text:
          type: string
          description: Comment text for appendCommentToCard.
        label:
          type: string
          description: Day label or backup label depending on action.
        reason:
          type: string
          description: Backup reason for createBackup.
        index:
          type: integer
          minimum: 0
    GptTripPlannerActionResponse:
      type: object
      additionalProperties: true
      required: [ok, action, summary]
      properties:
        ok:
          type: boolean
        action:
          type: string
        summary:
          type: string
        data:
          type: object
          additionalProperties: true
        warnings:
          type: array
          items:
            type: string
        auditId:
          type: string
        errorCode:
          type: string
        message:
          type: string
